<link rel="stylesheet" type="text/css" href="../styleframe.css">

- const chosenArticle = locals.articles[locals.article]; 
<iframe width="500" height="315" src="#{chosenArticle.video}" frameborder="0" allowfullscreen style="position: absolute;"></iframe>


<div class="right-text header">#{chosenArticle.title}</div>

<div class="right-text text" style="height: 260px;">#{chosenArticle.text}</div>
<div class="text description">  
    <p class="date"> #{chosenArticle.date} </p>
    p #{chosenArticle.desc}
    
</div>

